In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings('ignore')

In [2]:


# Load the dataset with the correct encoding
df = pd.read_csv('datasets\\Global_terrorist.csv', encoding='ISO-8859-1')

In [3]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
import folium

<H1>Filtering Data</H1>

In [5]:
df['natlty1_txt'].value_counts()

natlty1_txt
Iraq                                  24113
Pakistan                              13900
India                                 12098
Afghanistan                           10931
Colombia                               7922
                                      ...
Commonwealth of Independent States        1
St. Lucia                                 1
Saba (Netherlands Antilles)               1
Tuvalu                                    1
Marshall Islands                          1
Name: count, Length: 215, dtype: int64

In [21]:
filters = df[df['natlty1_txt'] == 'Pakistan']

In [22]:
filters['region_txt'].value_counts()

region_txt
South Asia                    13866
Middle East & North Africa       13
Western Europe                    9
Southeast Asia                    8
Sub-Saharan Africa                2
South America                     1
Eastern Europe                    1
Name: count, dtype: int64

In [23]:
filter1 = df[df['region_txt'] == 'South Asia']

In [24]:
filter1['targsubtype1_txt'].value_counts()

targsubtype1_txt
Police Security Forces/Officers                      3651
Unnamed Civilian/Unspecified                         2957
Police Patrol (including vehicles and convoys)       1971
Government Personnel (excluding police, military)    1919
Police Building (headquarters, station, school)      1895
                                                     ...
Oil Tanker                                              3
Military Weaponry                                       3
Fire Fighter/Truck                                      3
Subway                                                  2
Internet Infrastructure                                 1
Name: count, Length: 109, dtype: int64

In [25]:
filter2['targsubtype1_txt'] == 'Police Security Forces/Officers'

71651     False
71653     False
71654     False
71655     False
71658     False
          ...
181670    False
181671    False
181674    False
181679    False
181687    False
Name: targsubtype1_txt, Length: 40806, dtype: bool

In [26]:
filter3 = filter2[filter2['targsubtype1_txt'] == 'Police Security Forces/Officers']

In [28]:
filter3['nkill'] >= 10

71701     False
71776     False
71839     False
72019     False
72036     False
          ...
180596    False
180753    False
181096    False
181498    False
181592    False
Name: nkill, Length: 2681, dtype: bool

In [29]:
filter4 = filter3[filter3['nkill'] >= 10]

In [30]:
filter4['attacktype1_txt'].value_counts()

attacktype1_txt
Bombing/Explosion              74
Armed Assault                  14
Hostage Taking (Kidnapping)    14
Unknown                         9
Assassination                   1
Name: count, dtype: int64

In [31]:
filter4['attacktype1_txt'] == 'Bombing/Explosion'

76591      True
77149     False
77164     False
77246      True
78068      True
          ...
175906     True
175907     True
175908     True
176499    False
179635     True
Name: attacktype1_txt, Length: 112, dtype: bool

In [32]:
filter5 = filter4[filter4['attacktype1_txt'] == 'Bombing/Explosion']

In [33]:
final = filter5.groupby(['latitude','longitude']).size().reset_index(name='incident_count')

In [34]:
final

     latitude  longitude  incident_count
0   14.543970  49.124580               1
1   15.666667  43.950000               1
2   30.022924  31.185192               1
3   30.510054  47.778095               1
4   32.469238  44.416637               2
5   32.777344  44.289352               2
6   33.163559  43.863106               1
7   33.303566  44.371773              10
8   33.349159  43.784199               1
9   33.414598  43.455254               1
10  33.420948  43.295662               7
11  33.515244  36.292084               1
12  33.540672  44.251266               1
13  33.617965  44.572428               1
14  33.633896  42.832081               1
15  33.693409  44.796085               1
16  33.773349  45.149451               1
17  33.864799  42.536385               2
18  33.953167  44.921906               2
19  34.208416  43.890713               1
20  34.271034  45.163567               2
21  34.458889  43.791004               1
22  34.621521  43.668377               3
23  35.326122  43.780811               1
24  35.452110  44.375465               4
25  35.700397  43.280434               1
26  35.904295  43.058433               1
27  35.964956  40.902176               1
28  36.192589  44.004623               1
29  36.228695  43.105652               1
30  36.229574  42.236244               1
31  36.319386  41.861473               1
32  36.354145  43.143570              10
33  36.503593  40.740627               2
34  36.508533  42.842224               1
35  36.562222   3.594444               1
36  36.723980   3.670848               1
37  36.803982  42.093945               1
38  37.340200  41.893400               1

<H1>Use of FOLIUM FOR GEOSPATIAL</H1>

In [35]:
from folium.plugins import HeatMap

<h1>Converting PANDAS df into Python List</h1>

In [36]:
final['normalize_data'] = final['incident_count'] - final['incident_count'].min() / final['incident_count'].max() - final['incident_count'].min()
heat_data = final[['latitude','longitude','normalize_data']].values.tolist()

<h1>Creating a base map</h1>

In [37]:
my_loc = folium.Map(location =[30,40],zoom_start =4)

<H1>Add Heatmap Layer</H1>

In [38]:
HeatMap(heat_data).add_to(my_loc)

In [39]:
my_loc.save('terrorism_bombing2.html')
print("Data Successfully Saved to terrorism_bombing2.html")

Data Successfully Saved to terrorism_bombing2.html

In [40]:
my_loc